<!-- 公共头部  <span class="layui-nav-more"></span> -->
<div class="mz_header">

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                贤心
            </a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
        <span class="layui-nav-bar" style="left: 54px; top: 55px; width: 0px; opacity: 0;"></span>
    </ul>
</div>